#gallery{
    * { box-sizing: border-box; }

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .details {

        background: none;
        border: 1px solid $color3;
        color: $color3;
        text-transform: uppercase;
        margin: auto;
        text-align: center;

        padding: 15px;

    }

    .grid{
        display: -ms-grid;
        display: grid;
        height: 50%;
        width: 100%;
        margin: auto;
        -ms-grid-columns: 100%; 
        grid-template-columns: 100% ;
        grid-template-rows: repeat(2, [row] 2fr  );
        
        z-index: 1;
    }

    .box{
        position: relative;
        padding: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        figcaption{
            position: absolute;
            height: 100%;
            width: 100%;

            .figcaption-content{
                position: absolute;
                bottom: 50%;
                left: 50%;
                margin-left: -40px;
                margin-bottom: -40px;
                max-height: 100%;
                width: 80px;
                height: 80px;

                img{
                    width: 80px;
                    height: 80px;
                }
            }
        }
        figcaption:hover{
            opacity: 1;
            box-shadow: 0 0 10px #222222
        }
    }

    .box .box{

    }

    .a{

    }

     .b{
		display: grid;
        grid-gap: 10px;
        grid-gap: 1.25%;
		grid-template-columns: repeat(4, [col] 24% ) ;
		grid-template-rows: repeat(1, [row] auto  );
    } 

    .modal{
        position: fixed;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba($color: grey, $alpha: .9);
        opacity: 0;
        z-index: 0;

        .modal__content{
            width: 100%;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            .close-cursor{
                font-size: 40px;
                color: #fff;
            }

            .modal-content__image{
                width: 100%;
                max-width: 100vw;
                height: 80%;
        
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
        
                margin: auto;
        
                transition: .3s ease-in;
            }

            .image--open{
                transform: translateY(0%);
            }
        }
    }
}

@include respond-to('desktop'){
    #gallery{

        .grid{
            display: grid;
            height: 45%;
            width: 80%;
            margin: auto;
            grid-gap: 2%;
            grid-template-columns: repeat(2, [col] 49% ) ;
            grid-template-rows: repeat(1, [row] auto  );
        }
    
        .box{
            padding: 0;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            figcaption{
                opacity: 0;
                overflow: hidden;

                transition: .3s;

                .figcaption-content{
                    transition: .3s;
                }
            }

            
        }
    
        .box .box{
    
        }
    
        .a{
    
        }
    
         .b{
            display: grid;
            grid-gap: 10px;
            grid-gap: 2%;
            grid-row-gap: 2%;
            grid-template-columns: repeat(2, [col] 49% ) ;
            grid-template-rows: repeat(2, [row] 49%  );
        }  
    }
}


