#gallery{
    * { box-sizing: border-box; }

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .details {

        background: none;
        border: 1px solid $color3;
        color: $color3;
        text-transform: uppercase;
        margin: auto;
        text-align: center;

        padding: 15px;

    }

    .grid{
        display: -ms-grid;
        display: grid;
        height: 50%;
        width: 100%;
        margin: auto;
        grid-row-gap: 2%;
        -ms-grid-columns: 100%; 
        grid-template-columns: repeat(1, [col] auto ) ;
		grid-template-rows: repeat(2, [row] 2fr  );
    }

    .box{
        padding: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .box .box{

    }

    .a{

    }

     .b{
		display: grid;
        grid-gap: 10px;
        grid-gap: 1.25%;
		grid-template-columns: repeat(4, [col] 24% ) ;
		grid-template-rows: repeat(1, [row] auto  );
    } 
}

@include respond-to('desktop'){
    #gallery{

        .grid{
            display: grid;
            height: 45%;
            width: 80%;
            margin: auto;
            grid-gap: 2%;
            grid-template-columns: repeat(2, [col] 49% ) ;
            grid-template-rows: repeat(1, [row] auto  );
        }
    
        .box{
            padding: 0;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    
        .box .box{
    
        }
    
        .a{
    
        }
    
         .b{
            display: grid;
            grid-gap: 10px;
            grid-gap: 2%;
            grid-row-gap: 2%;
            grid-template-columns: repeat(2, [col] 49% ) ;
            grid-template-rows: repeat(2, [row] 49%  );
        }  
    }
}


