header {

  width: 100%;
  min-height: 100vh;


  top: 0;

  background: $color1;
  background-image: url("/src/images/header_bg.jpg");
  background-image: url("/src/images/header_bg_png.png"), linear-gradient(90deg, $color1, $color2);
  background-repeat: no-repeat;


  margin-top: 0;

  .socials {
    display: none;
  }

  .screen-overlay{
    z-index: 10;
    display: block;
    //justify-content: space-around;
   // align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color: $color3, $alpha: .9);
    visibility: hidden;

    transition: .3s ease-in;

    .screen-overlay__content{
      width: 100%;
      height: 100%;
      position: relative;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .screen-overlay--close{
      color: #fff;
      width: 40px;
      height: 40px;
      align-self: flex-end;
      z-index: 11;
      top: 0;
      position: absolute;

      i{
        font-size: 40px;
      }
    }
    
  }

  #ytframe{
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 10;
    //justify-self: center;
    //align-self: center;

    border: none;

}


}

@include respond-to('desktop'){









}