header {

  width: 100%;
  min-height: 100vh;


  top: 0;

  background: $color1;
  background-image: url("/src/images/header_bg.jpg");
  background-image: url("/src/images/header_bg_png.png"), linear-gradient(90deg, $color1, $color2);
  background-repeat: no-repeat;


  margin-top: 0;

  .socials {
    display: none;
  }


}

@include respond-to('desktop'){









}