.navbar {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    max-height: 60px;

    background: linear-gradient(90deg, $color1, $color2);

    z-index: 4;

    &.navbar--open{

        max-height: unset;
        height: 100vh;
        bottom: 0;

    }

    .navbar__content{

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 80%;
        height: 60px;

        margin: auto;

        .burger {

            color: #fff;
            display: block;
            height: 47px;

        }

    }

    .dotstyle{

        visibility: hidden;

        display: flex;

        ul {

            list-style: none;

            display: flex;
            flex-direction: column;

            padding: 0;

        }

    }

    .dotstyle--open{
        visibility: visible;
    }

    .nav__logo{
        max-width: 70%;
    }

    .socials{
        display: none;
    }

}



@include respond-to('desktop'){

    .navbar {


        .navbar__content{

            .burger{
                display: none;
            }

        }

        .dotstyle {

            display: flex;
            visibility: visible;
            width: 100%;

            ul{

                list-style: none;

                display: flex;
                flex-direction: row;
                justify-content: space-around;


                width: 100%;

                padding: 0;

                li{

                    display: flex;
                    flex-direction: row;

                    a{

                        display: flex;
                        flex-direction: row;

                        color: #fff;
                        text-transform: uppercase;

                        .nav__dot{
                            display: block;
                            border-radius: 50%;
                            width: 15px;
                            height: 15px;
                            border: 2px solid white;

                            margin-right: 5px;

                            transition: background .3s;
                        }
                    }
                }

                .current {
                    a{
                        .nav__dot{
                            background: #fff;
                        }
                    }
                }
            }

        }

        .socials{
            display: flex;

            i{
                color: #fff;
            }
        }
    }




}