#news{

    background: $color1;
    background-image: url("/src/images/New_bg.png");
    background-image: url("/src/images/New_bg.png"), linear-gradient(90deg, $color1, $color2);
    background-repeat: no-repeat;

    height: 100vh;

    overflow: hidden;

   /* .carousel {

        display: flex;
        flex-direction: row;

        .carousel__controls {
            display: none;
        }
    }*/

}

#gallery {

    overflow: hidden;
}

.avatar{
    border-radius: 50%;
}