

html,
body {

}

body {
  width: 100vw;
  min-height: 100%;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

h2 {
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 5px;
  color: #fff;
  margin: auto;
}

h3 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color:  #2f4055;
}

.h3--white{
  color: #fff;
}

.section__hr{
  border: 1px solid  #2f4055;
  max-width: 20%;
  margin: 10px auto;
}

.section__hr--white{
  border: 1px solid  #fff;
  max-width: 20%;
  margin: 10px auto;

}

section {
  overflow: hidden;
  margin: 20px 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

img {
  display: block;
}

/*ul {
  padding: 0;
  list-style: none;
}*/

@include respond-to('desktop'){

h1{
  font-size: 80px;
  margin-top: 160 px;
  margin-bottom: 0;
}

h2{
  font-size: 18px;
}


}